<% layout('./layouts/boilerplate.ejs') -%>
<body>
    <div id="filter" class="mt-3">
        <form action="/listings/trending" method="GET">
            <div class="filters">
                <i class="fa-solid fa-fire"></i>
                <p>Trending</p>
            </div>
        </form>
        <form action="/listings/rooms" method="GET">
            <div class="filters">
                <i class="fa-solid fa-bed"></i>
                <p>Rooms</p>
            </div>
        </form>
        <form action="/listings/iconic-cities" method="GET">
            <div class="filters">
                <i class="fa-solid fa-mountain-city"></i>
                <p>Iconic cities</p>
            </div>
        </form>
        <form action="/listings/mountains" method="GET">
            <div class="filters">
                <i class="fa-solid fa-mountain"></i>
                <p>Mountains</p>
            </div>
        </form>
        <form action="/listings/castles" method="GET">
            <div class="filters">
                <i class="fa-brands fa-fort-awesome"></i>
                <p>Castles</p>
            </div>
        </form>
        <form action="/listings/beaches" method="GET">
            <div class="filters">
                <i class="fa-solid fa-person-swimming"></i>
                <p>Beaches</p>
            </div>
        </form>
        <form action="/listings/farms" method="GET">
            <div class="filters">
                <i class="fa-solid fa-cow"></i>
                <p>Farms</p>
            </div>
        </form>
        <form action="/listings/arctic" method="GET">
            <div class="filters">
                <i class="fa-solid fa-snowflake"></i>
                <p>Arctic</p>
            </div>
        </form>
        <form action="/listings/domes" method="GET">
            <div class="filters">
                <i class="fa-solid fa-igloo"></i>
                <p>Dome</p>
            </div>
        </form>
        <form action="/listings/houseboats" method="GET">
            <div class="filters">
                <i class="fa-solid fa-ship"></i>
                <p>Houseboats</p>
            </div>
        </form>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch tax-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    <div class="card-container row row-cols-lg-3 row-cols-md-2 row-cols-1 mt-3">
        <% for(let listing of listings) { %>
            <a href="/listings/<%= listing.id %>" class="listing-link">
                <div class="card col listings-card mb-4">
                    <% 
                        let imageSrc = 'https://images.unsplash.com/photo-1625505826533-5c80aca7d157?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGdvYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60';
                        if (listing.image) {
                            if (typeof listing.image === 'string') {
                                imageSrc = listing.image; // Old format: direct URL string
                            } else if (listing.image.url) {
                                imageSrc = listing.image.url; // New format: Cloudinary object
                            }
                        }
                    %>
                    <img src="<%= imageSrc %>" class="card-img-top"  style ="height: 20rem;" alt="<%= listing.title %>">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b> 
                            <br>
                            <span style="font-weight: 600;">&#8377;<%= listing.price.toLocaleString("en-IN") %>/night (excl. taxes)</span>
                            <span class="tax-data">&nbsp;+  &#8377;<%= (listing.price * 0.18).toLocaleString("en-IN") %> (18% GST)</span>
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
    <script src="/js/index.js"></script>
    <script>
        // Make filter divs clickable
        document.addEventListener('DOMContentLoaded', function() {
            const filterDivs = document.querySelectorAll('.filters');
            filterDivs.forEach(function(filterDiv) {
                filterDiv.addEventListener('click', function() {
                    const form = this.closest('form');
                    if (form) {
                        form.submit();
                    }
                });
            });
        });
    </script>
</body>
